.counter
  .val Counter: #{count}
  .controls
    button.decr(on={click: $helpers.decr}) -
    button.incr(on={click: $helpers.incr}) +
  a(attrs={href: '#about'}) About
  if count > 0
    .boxes
      - const boxColor = count % 2 ? 'red' : 'green'
      each box in Array(count).fill()
        .box(
          class={
            [`box-${boxColor}`]: true,
            visible: false,
            delayed: {visible: true},
            remove: {visible: false, delayRemove: 500},
          }
        )
