- const darkMode = $helpers.getDarkMode();
- const counter = $helpers.getCounter();
.button(
  style={
    cursor: `pointer`,
    padding: `8px 16px`,
    border: `1px solid black`,
    display: `inline-block`,
    background: darkMode ? `black` : `white`,
    color: darkMode ? `white` : `black`,
  }
  on={
    click: () => counter.increment(),
  }
) Click to increment #{darkMode ? `Dark mode` : `Light mode`} app counter (current count is #{counter.getCount()})
